<footer class="footer bg-dark py-3 mt-auto ">
  <div class="container">
    <span class="text-muted "">YelpCamp</span>
    <div class="icon-copyright">
      <a target="_blank" href="https://icons8.com/icon/Dv5B4NGrUydA/camp">Camp</a>
      icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
  </div>
</footer>
