<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="row justify-content-around">
    <div class=" col-lg-6 col-md-9  ">
      <div class="card">
        <img class="card-img-top" src="https://res.cloudinary.com/dqvgxqgpk/image/upload/w_400/v1642310574/YelpCamp/ilb5s9hpgy1lswrjgmhe.jpg" alt="">
        <div class="card-body">
          <h5 class="card-title">Edit User profile</h5>
          <form action="/users/<%=user._id%>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input
                  class="form-control"
                  type="text"
                  id="username"
                  name="username"
                  value="<%= user.username%>"
                  disabled
                  required
                  
                />
                <div class="valid-feedback">looks good!</div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input
                      class="form-control"
                      type="email"
                      id="email"
                      name="email"
                      value="<%= user.email%>"
                      required
                    />
                    <div class="valid-feedback">looks good!</div>
                        <div class="mb-3">
                          <% let verb = user.image ? "Replace" : "Upload" %> 
                          <label for="image" class="form-label"><%= verb %>  User Image</label>
                          <input
                            class="form-control"
                            name="image"
                            type="file"
                            id="image"
                            multiple
                          />
                        </div>
                        <button class="btn btn-success btn-block">Update Profile</button>
                        
        </form>
        
        </div>
      </div>
    </div>
  </div>
</div>
