<%layout('layouts/boilerplate')%>
<div class="container justify-content-center .align-items-center">
  <% for( user of users){ %>
  <div class="card mb-3" style="max-width: 540px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <% userImage = user.image ? user.image.url : "/images/nobody.jpg" %>
        <img src="<%= userImage %>" class="card-img" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= user.username %></h5>
          <p class="card-text"><%= user.email %></p>
          <a href="/users/<%=user._id%>" class="btn btn-success float-end m-3"
            >View Profile</a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
